.furniture__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.furniture {
    display: flex;
    justify-content: center;
    height: auto;
}

.furniture img {
    max-width: 100%;
    width: 300px;
    height: auto;
    min-height: 100%;
}

.furniture__name {
    font-size: 1.1rem;
    text-decoration-line: none;
    color: black;
    margin-top: 0.5rem;
}

@media screen and (min-width: 1000px) {
    .furniture {
        overflow: hidden;
    }

    .furniture:hover {
        filter: drop-shadow(0 0 0.5rem rgb(150, 147, 147));
    }

    .furniture img {
        transition: all 1s ease;
    }

    .furniture:hover img {
        transform: scale(1.3);
    }
}