.container-furniture {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-furniture img {
    max-width: 100%;
    display: flex;
}



.reference {
    font-size: 1.3rem;
    text-decoration-line: none;
    color: black;
    text-align: center;
}