@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 1rem;
}