.container {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
}

.header {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #D8BFD8;
}

.header a {
    color: black;
    text-decoration: none;
}

.logo {
    padding-left: 0.5rem;
    font-size: 2rem;
    font-weight: 500;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #D8BFD8;
    margin-top: 2.5rem;
    font-size: 1.2rem;
}